<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.doan_shopsmartphone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Doan_ShopSmartphone"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.oder.DetailOderActivity"
            android:exported="false" />

        <service
            android:name=".ultil.notification.NotiFireBaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".fragment.ShowAllProductByCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile_screen.ProfileUserScreen"
            android:exported="false" />
        <activity
            android:name=".view.success_screen.OrderSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".view.Cart.ChangePaymentMethodsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.danh_gia.DanhGiaActivity"
            android:exported="false" />
        <activity android:name=".view.chat_message.ChatActivity" />
        <activity
            android:name=".view.buy_product.UpdateAddressActivity"
            android:exported="false" />
        <activity
            android:name=".view.buy_product.AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".view.buy_product.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".view.voucher.VoucherScreen"
            android:exported="false" />
        <activity
            android:name=".view.product_screen.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.Verify"
            android:exported="false" />
        <activity
            android:name=".view.login.ForgotPass"
            android:exported="false" />
        <activity
            android:name=".view.login.ResetPassSuccess"
            android:exported="false" />
        <activity
            android:name=".view.login.ResetPassword"
            android:exported="false" />
        <activity
            android:name=".view.login.RegisterSuccess"
            android:exported="false" />
        <activity
            android:name=".view.login.LoginApp"
            android:exported="false" />
        <activity
            android:name=".view.login.Register"
            android:exported="false" />
        <activity
            android:name=".view.Cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".view.buy_product.PayActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.product_screen.DetailProduct"
            android:exported="false" />
        <activity
            android:name=".view.find_product.FindProduct"
            android:exported="false" />
        <activity
            android:name=".view.profile_screen.OrderProductScreen"
            android:exported="false" />
    </application>

</manifest>